<form method="post" action="{{ path('display_environments', {'id': pokemon.idP}) }}" onsubmit="return confirm('Are you sure you want to bring this pokemon with you?');">
    <input type="hidden" name="_method" value="GET">
    <button class="btn btn-primary">Choisir</button>
</form>