  <form method="post" action="{{ path('sell', {'id': pokemon.idP}) }}">
    <td>
    <div class="form-inline">
    	<label for="inputPrice" class="mr-2">Prix de vente</label>
	    <input type="text" value="{{ pokemon.prix_vente }}" name="price" id="inputPrice" class="form-control mr-2" style="width:80px;" required autofocus>
    	<button class="btn btn-primary" type="submit">Vendre</button>
    </div>
    </td>
</form>