<form method="post" action="{{ path('pokemon_delete', {'id_pokemon': pokemon.id_pokemon}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokemon.id_pokemon) }}">
    <button class="btn">Delete</button>
</form>
